.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.header-margin{
  margin-bottom: 15px;
}

.search-margin{
  margin-top: 16px;
}

.shopping-cart{
  width: 42px;
  height: 42px;
}

.shopping-cart-link-container{
  display:inline-block;
  margin-top:7px;
}

.col-bottom-spacing{
  margin-bottom: 15px;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
  [data-theme="dark"] .site-layout-content {
    background: #141414;
  }
  [data-theme="dark"] .logo {
    background: rgba(255,255,255,0.3);
  }

.content-width{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

button.add-to-basket{
  background-color: #00b50c;
  border-color: #00b50c;
}

button.add-to-basket:hover{
  background-color: #00cf0e;
  border-color: #00cf0e;
}

button.add-to-basket:focus{
  background-color: #00b50c;
  border-color: #00b50c;
}

.paragraph-inline{
  display: inline-block;
  margin-right: 5px;
}

.paragraph-inline-larger{
  display: inline-block;
  margin-right: 5px;
  font-size: 1.2em;
}

div.product-page-container{
  margin: 10px;
  padding: 10px;
  background-color: #ededed;
  width: 100%;
}
#form-login .login-form {
  max-width: 300px;
}
#form-login .login-form-forgot {
  float: right;
}
#form-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#form-login .login-form-button {
  width: 100%;
}

.login-layout{
  width: 100%;
  max-width: 900px;
}